/* css reset */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap");
* {
  font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
	scroll-behavior: smooth;
}
/* CSS variable */
:root{
    --navbar-height: 59px;
}
/* navigation bar */
#navbar{
    /* flex is used to move things in a row */
    display: flex;   
    align-items: center;
    position: relative;
    top: 7px;
    justify-content: center;
    background-color: white;
    height: 80px;
    

}
#navbar ul li a{
    color: black;
   display: block;
   padding: 3px 22px; 
   text-decoration: none;
   
   
}
/* list styling in navigation bar */
#navbar ul{
    
    display: flex;
    
    font: size 2.3rem;
    
   
    
    
}
#navbar::before{
    content: "";
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
      z-index: -1;  
     opacity: 0.8; 
}
#navbar ul li{
    list-style: none;
    font-size: 1rem;
    
}
#navbar ul li a:hover{
    color: grey;
    font-weight: 600;
   
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    height: 680px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('../images/aidil-bahaman-OOz6o-85r-s-unsplash.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    top: 100px;
     left: 0px; 
}

#home h1{
    text-shadow: white;
    font-size: 75px;
}
.typewriter-text {
	padding-right: 10px;
	color: white;
	border-right: solid white 7px;
	text-transform: uppercase;
	animation: cursor 1s ease-in-out infinite;
	font-size: 20px;
}
@keyframes cursor {
	from {
		border-color:black;
	}
	to {
		border-color: transparent;
	}
}
body {
	animation: fadeInAnimation ease 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
} 
/* about section */

#aboutPage >.column{
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: white;
    

}

.aboutContant .margin, p{
 margin-bottom: 30px;
}
.aboutContant h2 ,.margin{
    margin-bottom: 25px;
}
.aboutContant{
    margin-left: 30px;
    padding-right: 230px;
   
}
#aboutPage{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.margin{
    border-bottom: 1px solid #888;
    width: 10%;

}

.image{
    width: 100%;
    
}
#portfolio{
      content: "";
    background: url('../images/marriage-918864_1920.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    
     left: 0px; 

}












